<div class="flex flex-row flex-wrap justify-between mx-36">
  <div>
    <img ngSrc="../../../../assets/images/companies/braas.png" alt="braas" height="74" width="111">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/katepal.png" alt="katepal" height="51" width="216">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/GL.png" alt="GL" height="52" width="208">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/TN.png" alt="TN" height="74" width="122">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/rockwool.png" alt="rockwool" height="48" width="258">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/velux.png" alt="velux" height="58" width="160">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/docke.png" alt="docke" height="33" width="140">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/optima.png" alt="optima" height="120" width="180">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/duck&dog.png" alt="duck&dog" height="120" width="180">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/aquastock.png" alt="aquastock" height="120" width="180">
  </div>
  <div >
    <img ngSrc="../../../../assets/images/companies/roofshield.png" alt="roofshield" height="120" width="180">
  </div>
</div>






