<header class="h-24">
  <nav
    class="nav-container">
    <div class=" text-m font-bold text-center uppercase text-red-500 p-0">
      <a href=''>
        <ng-icon name="heroHomeSolid" class="text-4xl"/>
        <p>
          Кровельные материалы
          <br/>
          Rekaver
        </p>
      </a>
    </div>
    <div
      class="w-2/5 h-10 border-2 text-black flex justify-between rounded-md">
      <input class="w-full text-black m-2 focus:outline-none" type="text" name="product"
             placeholder="Быстрый поиск товара или категории"/>
      <button class="bg-red-500 m-1 rounded-md text-white float-end text-md w-1/5 hover:opacity-70">
        Поиск
      </button>
    </div>
    <div class=" flex justify items-center">
      <div
        class="border-2 w-32 h-10 p-4 text-center flex justify-center items-center rounded-md hover:text-black hover:bg-white hover:border-black">
        <ng-icon name="heroSquares2x2Solid" class="mr-1"/>
        <div class="text-m font-bold">
          Каталог
        </div>
      </div>
      <div
        class="ml-2 w-32 border-2 h-10 p-4 text-center flex justify-center items-center rounded-md hover:text-black hover:bg-white hover:border-black">
        <ng-icon name="heroPhotoSolid" class=" mr-1"/>
        <div class="text-m font-bold">
          Галерея
        </div>
      </div>
      <div
        class="ml-2 w-32 border-2 h-10 p-4 text-center text-red-600 bg-white flex justify-center items-center rounded-md hover:text-black hover:bg-white hover:border-black">
        <ng-icon name="heroPhoneSolid" class=" mr-1"/>
        <div class="text-m font-bold">
          Контакты
        </div>
      </div>
    </div>
  </nav>
</header>
