<header class="h-24">
  <nav
    class="nav-container">
    <div class=" text-m font-bold text-center uppercase text-red-500 p-0">
      <a href=''>
        <ng-icon name="heroHomeSolid" class="text-4xl"/>
        <p>
          Кровельные материалы
          <br/>
            Rekaver
        </p>
      </a>
    </div>
    <div
      class="w-2/5 h-10 border-2 text-black flex justify-between rounded-md">
      <input class="w-full text-black m-2 focus:outline-none" type="text" name="product"
             placeholder="Быстрый поиск товара или категории"/>
      <button mat-flat-button color="warn" class="w-[100px]">
        <span  class="text-white text-md">
          Поиск
        </span>
      </button>
    </div>
    <div class="flex justify items-center">
      <button mat-stroked-button>
        <div
          class="text-center flex justify-center items-center">
          <ng-icon name="heroSquares2x2Solid" class="mr-1"/>
          <div class="text-m font-bold">
            Каталог
          </div>
        </div>
      </button>

      <button mat-stroked-button>
        <div
          class="text-center flex justify-center items-center">
          <ng-icon name="heroPhotoSolid" class=" mr-1"/>
          <div class="text-m font-bold">
            Галерея
          </div>
        </div>
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="beforeMenu" >
        <div class="text-center text-red-600 flex justify-center items-center rounded-md">
          <ng-icon name="heroPhoneSolid" class=" mr-1"/>
          <div class="text-m font-bold">
            Контакты
          </div>
        </div>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before" class="mt-3">
        <button mat-menu-item><a  type="tel" href="tel:89620108877">
          <div class="flex flex-row">
            <div>
              <ng-icon name="heroPhone" class="align-middle text-red-500 mr-1"/>
            </div>
            <div>
              +7-962-010-88-77
            </div>
          </div>
        </a>
        </button>
        <button mat-menu-item>
          <a  type="tel" href="tel:89034445510">
          <div class="flex flex-row">
            <div>
              <ng-icon name="heroPhone" class="align-middle text-red-500 mr-1"/>
            </div>
            <div>
              +7-903-444-55-10
            </div>
          </div>
        </a>
        </button>
        <button mat-menu-item>
          <a type="tel" href="mailto:suvorovka04@gmail.com">
            <ng-icon name="heroEnvelope" class="align-middle text-red-500 mr-1"/>
            {{email}}
          </a>
        </button>
      </mat-menu>
    </div>
  </nav>
</header>
