@mixin flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin border-radius($radius) {        // Префиксы для:
  -webkit-border-radius: $radius;    // Chrome и Safari
  -moz-border-radius: $radius;    // Firefox
  -ms-border-radius: $radius;    // Internet Explorer
  -o-border-radius: $radius;    // Opera
  border-radius: $radius;    // Стандартный CSS
}
