<!-- Footer -->
<footer class="footer-container border-t-8 border-red-500">
  <div class="main-info text-white">
    <div class="basis-1/4">
      <p class="text-xl my-2 uppercase">График работы</p>
      <p>
        <b>Пн.-Пт.:</b> с <b>8:00</b> до <b>17:00</b>
        <br/>
        <b>Сб.:</b> с <b>8:00</b> до <b>16:00</b>
      </p>
    </div>
    <div class="basis-1/4">
      <p class="text-xl my-2 uppercase">
        Наши Контакты
      </p>
      <div *ngFor="let tel of phoneNumbers">
        <a  type="tel" href="tel:{{tel.link}}">
          <div class="flex flex-row">
            <div>
              <ng-icon name="heroPhone" class="align-middle text-red-500 mr-1"/>
            </div>
            <div>
              {{tel.text}}
            </div>
          </div>
        </a>
      </div>
      <div>
        <a type="tel" href="mailto:{{email}}">
          <ng-icon name="heroEnvelope" class="align-middle text-red-500 mr-1"/>
          {{email}}
        </a>
      </div>
    </div>
    <div class="basis-1/4">
      <p class="text-xl my-2 uppercase">
        Наши адреса
      </p>
      <p>
        <b>Офис:</b> Черкесский пр., 2А
        <br>
        <b>Склад:</b> Кисловодское шоссе, 46
      </p>
    </div>
    <div class="basis-1/4">
      <p class="text-xl my-2 uppercase">Рекавер</p>
      <p class="text-neutral-300">
        {{info}}
      </p>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copyright text-center p-4 text-neutral-300 mt-16">
    © 2024 Кровля:
    <a class="font-medium" href="/">Рекавер</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
